*{
    box-sizing: border-box;
}
body {
  font-family: Arial sans-serif;
  font-style: normal;
  font-size-adjust: auto;
  padding: auto;
  margin: 0;
  background-color: lightgrey;
}

/* Header/Blog Title */
.header {
    padding: 0px;
    text-align: center;
    background: grey;
}

.header-tekst{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header h1 {
    font-size: 50px;
    color: white;
}
.header p{
  color: white;
}

/* Style the top navigation bar */
.topnav {
    overflow: hidden;
    background-color: lightgrey;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin-left: 15px;
    margin-right: 15px;

}

/* Style the topnav links */
.topnav a {
    float: left;
    display: inline-block;
    color: green;
    text-align: center;
    text-decoration: none;
    width: 33.33%;
    padding: 10px;
}


/* Change color on hover */
.topnav a:hover {
    background-color: lightblue;
    color: black;
}

.section h1 {
    font-size: 30px;
    color: #20bcd5;
    text-align: center;
    padding: 18px 0 18px 0;
    margin: 0 0 0 0;
}
h1 span {
    border: 4px dashed #20bcd5;
    padding: 10px;
}
.section p {
    padding: 0;
    margin: 0;
}

.section {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}


.quote {
    font-size: 12pt;
    text-align: right;
    margin-top: 10px;
}
table {
    width: 70%;
}
table, th, td {
    border: 2px solid #cecece;
    border-collapse: collapse;
    text-align: center;
    table-layout: fixed;
}
.selected {
    background-color: #f36f48;
    font-weight: bold;
    color: white;
}
/*Skill section start*/
li {
    margin-bottom: 15px;
    font-weight: bold;
}

.section-2{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  align-content: flex-start;
}
progress {
    width: 70%;
    height: 20px;
    color: #3fb6b2;
    background: #efefef;
}

.transition-1{
  width: 300px;
  height: 150px;
  background: grey;
  transition: width 2s;
  text-align: center;
  padding: 10px;
  box-shadow: 10px 10px;
  padding: 10px;
  margin-top: 20px;
  margin-left: 40px;
}


.transition-1:hover {
  width: 500px;
}

progress::-webkit-progress-bar {
    background: #efefef;
}
progress::-webkit-progress-value {
    background: #3fb6b2;
}/*
progress::-moz-progress-bar {
    color: #3fb6b2;
    background: #efefef;*/
}
.section iframe, audio {
    display: block;
    margin: 20px;
    padding: 10px;
    border: 3px solid #3fb6b2;
}
hr {
    border: 0;
    height: 1px;
    background: #f36f48;
}
form {
    text-align: center;
    margin-top: 0;
}
.submit {
    background-color: #3fb6b2;
    padding: 12px 45px;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    border: none;
    outline: none;
    margin: 0;
    font-weight: bold;
}
.submit:hover {
    background-color: #43a09d;
}
textarea {
    height: 100px;
}
input, textarea {
    margin-bottom: 10px;
    font-size: 11pt;
    padding: 15px 10px 10px;
    border: 1px solid #cecece;
    background-color: #efefef;
    color: #787575;
    border-radius: 5px;
    width: 50%;
    outline: none;
}
#contacts img {
    height: 50px;
    width: 50px;
    margin-left: 7px;
    margin-right: 7px;
}
#contacts a {
    text-decoration: none;
}
#contacts img:hover {
    opacity: 0.8;
}
#contacts {
    text-align: center;
}
.copyright {
    font-size: 8pt;
    text-align: right;
    padding-bottom: 10px;
    color: grey;
}
